{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <h1>{{ art_class.title }}</h1>
        
        <p>{{ art_class.description }}</p>
        <p>Date: {{ art_class.date }}</p>
        <p>Time: {{ art_class.time }}</p>

        {% if art_class.is_booked %}
            <p>Status: Booked</p>
        {% else %}
            <p>Status: Available</p>
            <a href="{% url 'artclass:book_art_class' art_class.id %}">Book Now</a>
        {% endif %}
    </div>
    
        <input type="submit" class="btn btn-black rounded-4 text-center text-uppercase mb-4" value="Submit">
      
</div>     

{% endblock %}

