{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-75">
            <div class="col-12 col-md-12 my-auto">
                <h2 class="logo-font-new text-center">
                    <strong>Let your space bloom with Bloom Art!</strong>
                </h2>
                <br>
                <br>
                <p class="text-center">
                    Discover our Festive Prints Collection
                </p>
                <br>
                <div class="my-5 text-center">
                    <h4>
                        <a href="{% url 'products' %}?category=christmas" class="shop-now-button btn-lg rounded-4 text-uppercase mx-auto py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

