<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="seasonal-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seasonal
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="seasonal-link">
                <a href="{% url 'products' %}?category=winter,christmas" class="dropdown-item">Winter</a>
                <a href="{% url 'products' %}?category=spring,easter" class="dropdown-item">Spring</a>
                <a href="{% url 'products' %}?category=summer" class="dropdown-item">Summer</a>
                <a href="{% url 'products' %}?category=autumn, halloween" class="dropdown-item">Autumn</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="holidays-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Holidays &amp; Events
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="holidays-link">
                <a href="{% url 'products' %}?category=birthday" class="dropdown-item">Birthday</a>
                <a href="{% url 'products' %}?category=wedding" class="dropdown-item">Wedding</a>
                <a href="{% url 'products' %}?category=christmas" class="dropdown-item">Christmas</a>
                <a href="{% url 'products' %}?category=halloween" class="dropdown-item">Halloween</a>
                <a href="{% url 'products' %}?category=easter" class="dropdown-item">Easter</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Art Classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item">Christmas Workshops</a>
            </div>
        </li>
    </ul>
</div>